@tailwind base;
@tailwind components;
@tailwind utilities;

p {
    margin-bottom: 10px;
}

ul li {
    list-style-type: disc;
    margin-left: 22px;
}

li > a, 
p > a {
    font-weight: bold;
}

li > a:hover,
p > a:hover {
    text-decoration: underline;
    .external-link-svg {
        transform: translate(1px, -1px);
    }
}
